.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.input{
    width: 300px;
    padding: 8px 12px;
    border-radius: 8px;
    background: rgb(90, 90, 90);
    border: 2px solid rgba(255,255,255,.12);
    color: #fff;
    font-size: 14px;
    box-shadow: 0 0 3px rgb(10, 10, 10);
}

input::placeholder{
    color: rgba(255,255,255,.5);
}

.input:focus{
    background: rgb(119, 119, 119);
    outline: 2px solid rgba(83, 83, 83, 0.12);
    box-shadow: 0 0 3px rgb(36, 36, 36);
}

