.inputContainer {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.input {
    border-radius: 8px;
    background: rgb(90, 90, 90);
    border: 2px solid rgba(255,255,255,.12);
    color: #fff;
    box-shadow: 0 0 3px rgb(10, 10, 10);
}

.sm {
    height: 32px;
    width: 300px;
    font-size: 14px;
    padding: 0 64px 0 12px; 
}

.md {
    height: 40px;
    width: 400px;
    font-size: 16px;
    padding: 0 72px 0 12px;
}

.lg {
    height: 48px;
    width: 500px;
    font-size: 18px;
    padding: 0 80px 0 16px;
}

input::placeholder{
    color: rgba(255,255,255,.5);
}

.input:focus{
    background: rgb(119, 119, 119);
    outline: 2px solid rgba(83, 83, 83, 0.12);
    box-shadow: 0 0 3px rgb(36, 36, 36);
}

.eyeButton {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #cacaca;
}

.clearButton {
    position: absolute;
    right: 44px;  
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #cacaca;
}

.eyeButton:hover{
    color: #f7f7f7;
}

.clearButton:hover{
    color: #f7f7f7;
}