.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay.open {
    opacity: 1;
    pointer-events: auto;
}

.sideBar {
    position: absolute;
    top: 0;
    right: 0;

    width: 220px;
    height: 100%;

    background: rgb(27, 27, 27);
    box-shadow: -8px 0 24px rgba(53, 53, 53, 0.15);

    padding: 24px;
    display: flex;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.sideBar.open {
    transform: translateX(0);
}

.items {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 100px;
}

.item {
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: color 0.2s ease;
}

.item:hover {
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.childrenList {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    gap:10px;
}

.itemChildren {
    font-size: 14px;
    color: #a8a8a8;
    cursor: pointer;
    transition: color 0.2s ease;
}


.menuButton{
    position: fixed;
    top: 20px;
    right: 20px;

    background: white;
    border: none;
    cursor: pointer;

    padding: 8px;
    border-radius: 8px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.itemChildren:hover {
    color: #e0e0e0;
    text-shadow: 0 0 5px rgb(255, 255, 255);
}

.closeButton {
    position: absolute;
    margin-left: 75%;
}

.closeButton button {
    background: none;
    border: none;
    cursor: pointer;
    color: white
}

.closeButton button:hover{
    color: #e0e0e0;
    text-shadow: 0 0 5px rgb(255, 255, 255);
}